/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }

*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 svetle sede pozadi      #f5f5f5
 tmavsi seda             #959595
 barevny prechod nahore  #06d7c1
 barevny prechod dole    #50cc49
 zelena cara             #06d7c1
 oranzova                #f15f42

 PISMO
 Rubik - pouzite rezy pisma regular 400 a medium 500
 https://fonts.google.com/specimen/Rubik

 KULATE ROHY
 border-radius: 30px;
*/

body {
    text-rendering: optimizeLegibility;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 400;
    
}
.detaily{
    max-width: 335px;
}

h1{font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 30px 30px 0 30px;
}

.produkt{ color: grey;
    padding: 0 30px 30px 30px;
}

.popis {padding: 0 30px 30px 30px;
    border-bottom: solid 2px #06d7c1;
}

.parametr{text-transform: uppercase;
    font-size: 14px;
    font-weight: 400px;
    padding: 30px 30px 0 30px;
}

ul{ padding: 0 30px 30px 30px;
}

li{
    display: inline-block;
    margin: 10px;
}

.vybrana{
    color: #f15f42;
    padding: 10px;
    border: solid 1px #f15f42;
    border-radius: 50%;
}